# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment secrets
.env
*.pem
private_key.txt

# Testing & Caching
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
